
.landing-page {

    .navbar{

        .navbar-nav {


            &.link {
                
                @include media-breakpoint-up(xxl){
                    margin-left: 7rem;
                }

                .nav-item {
                
                    margin: 0.75rem 0;

                    @include media-breakpoint-up(lg){
                        margin: 0;
                    }

                    &.dropdown {
                    
                        .dropdown-menu {
                            
                            .dropdown-item {
                               
                                background-color: $white;
                                color: $gray-900;

                                &:hover {
                                    background-color: $gray-100;
                                }
                            }

                        }

                    }

                }

            }

            .nav-button {

                margin: 1rem 0;

                @include media-breakpoint-up(lg){
                    margin: 0;
                }
            
                button {
                    border-radius: 7px;
                    font-weight: 500;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
                    &.white{
                        border: 0;
                        background-color: $white;
                       
                        &:hover {
                            background-color: $gray-50;
                        }
        
                    }
                    
                }
            }

        }

    }

    .hero-section {
        
        img.img-bg {
            z-index: 0;
            top: 10%;
    
            @include media-breakpoint-down(xxl){
                width: 40%;
                top: 10%;
            }
    
            @include media-breakpoint-down(md){
                width: 70%;
                top: 65%;
            }
    
        }
    
        img.img-net {
            z-index: 0;
            top: 30%;
    
            @include media-breakpoint-down(xxl){
                top: 35%;
            }
    
            @include media-breakpoint-down(xl){
                top: 20%;
            }
    
    
            @include media-breakpoint-down(md){
                top: 10%;
            }
    
        }
    
        img.img-group {
            z-index: 0;
            top: 6%;
            left: 40%;
            width: 275px;
            height: auto;
    
            @include media-breakpoint-down(xxl){
                top: 8%;
                width: 17%;
            }
    
            @include media-breakpoint-down(md){
                width: 50%;
                top: 10%;
            }
    
    
        }
    
    
        &--text{
            
            h1, p {
                line-height: 1.5;
            }
            
    
            button {
                border-radius: 7px;
                font-weight: 500;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
                &.white{
                    background-color: $white;
                   
                    &:hover {
                        background-color: $gray-50;
                    }
    
                }
    
            }
    
        }
    
    
        &--img{
            padding-top: 7rem;
    
            @include media-breakpoint-down(xl){
                padding-top: 4rem;
            }
            
        }
    
    
    }
    
    .about-section {
        padding-top: 250px;
        padding-bottom: 250px;
    
        @include media-breakpoint-down(xl){
            padding-top: 150px;
            padding-bottom: 150px;
        }
    
        @include media-breakpoint-down(md){
            padding-top: 100px;
            padding-bottom: 100px;
        }
    
        img.img-bg {
            z-index: 0;
            top: 15%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    
            
            @include media-breakpoint-down(xxl){
                width: 40%;
                top: 22%;
            }
    
            @include media-breakpoint-down(xl){
                top: 15%;
            }
    
            @include media-breakpoint-down(lg){
                top: 22%;
            }
    
            @include media-breakpoint-down(md){
                width: 75%;
            }
    
        }
    
    }
    
    .howItWorks-section {
        padding: 5rem 0 10rem 0;
        background-color: $white;
    
    
        &--left {
            position: relative;
            
            p {
                line-height: 1;
                padding: 0;
            }
    
            &--step1 {
                top: 2%;
                position: absolute;
            }
    
            &--step2 {
                top: 55%;
                position: absolute;
            }
    
            &--step3 {
                bottom: -1%;
                position: absolute;
            }
    
        }
    
        &--right {
            position: relative;
            
            &--step1 {
                top: 8%;
                position: absolute;
            }
    
            &--step2 {
                top: 47.5%;
                position: absolute;
            }
    
            &--step3 {
                bottom: -20%;
                position: absolute;
            }
    
    
            @include media-breakpoint-down(xxl){
        
                &--step3 {
                    bottom: -25%;
                    position: absolute;
                }
    
            }
    
            @include media-breakpoint-down(xl){
    
                &--step2 {
                    top: 48%;
                    position: absolute;
                }
    
                &--step3 {
                    bottom: -23%;
                    position: absolute;
                }
    
            }
    
            @include media-breakpoint-down(lg){
                
                &--step3 {
                    bottom: -27%;
                    position: absolute;
                }
    
            }
    
            @include media-breakpoint-down(md){
    
                &--step3 {
                    bottom: -36%;
                    position: absolute;
                }
    
            }
    
    
        }
    
    
    
    }
    
    .showCase-section {
        padding: 10rem 0 5rem 0;
    
        &--wrapper {
            width: 84.65%;
    
            @include media-breakpoint-down(xxl){
                width: 92%;
            }
    
            @include media-breakpoint-down(xl){
                width: 100%;
            }
    
    
            .carousel {
                position: relative;
    
                &--content {
                    width: 20%;
            
                    @include media-breakpoint-up(xl){
                        padding: 0 0 3rem 0;
                    }
            
                    @include media-breakpoint-down(xl){
                        width: 30%;
                    }
            
                    @include media-breakpoint-down(lg){
                        width: 30%;
                    }
            
                    @include media-breakpoint-down(md){
                        width: 100%;
                        margin-bottom: 0.5rem;
                    }
            
                    &--card {
                        border-radius: 10px;
                        border: 0;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            
                        img {
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            height: 150px;
                            object-fit: cover;
                        }
            
                        span {
                            background-color: $gray-200;
                            border-radius: 5px;
                            color: $gray-700;
                            font-weight: 500;
                        }
            
            
                    }
            
                }
    
                .bottom {
                    margin-top: 100px;
                    position: relative;
                    width: 81%;
    
                    @include media-breakpoint-down(xxl){
                        width: 91%;
                    }
    
                    @include media-breakpoint-down(xl){
                        width: 97%;
                    }
    
                    @include media-breakpoint-down(md){
                        width: 100%;
                    }
    
                    .carousel-indicators {
                        width: fit-content;
                        position: absolute;
                        left: -15%;
    
                        @include media-breakpoint-down(xl){
                            left: -10%;
                        }
    
                        @include media-breakpoint-down(md){
                            left: -15%;
                        }
        
                        button {
                            background-color: $primary;
                            opacity: 0.5;
            
                            &.active {
                                background-color: $primary;
                                opacity: 1;
                            }
            
                        }
                        
                    }
        
                    .arrow {
                        position: relative;
                        padding-right: 0;
    
                        svg {               
                            width: 35px;
                            height: 35px;
                            fill: $primary;
                            
                            &:hover {
                                cursor: pointer;
                            }
    
                        }
    
                    }
    
                }
    
            }
        
        }
        
    
    }
    
    .faq-section {
        padding: 5rem 0 10rem 0;
    }
    
    .footer-section {
        padding: 2rem 0rem 1rem 0rem;
        background-color: $primary;
        
        h4 {
            margin-bottom: 1rem;
    
            @include media-breakpoint-down(md){
                font-size: 0.875rem;
            }
            
        }
    
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
    
            li {
                color: $white;
                margin-bottom: 0.5rem;
            }
    
        }
    
        &--address {
    
            p {
                width: 80%;
            }
    
        }
    
        &--link {
            
            a {
                color: $white;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
    
            }
    
        }
    
    
        &--contact {
            opacity: 1;
        }
    
        &--footer {
            
            span {
                margin-top: 5rem;
            }
    
        }
    
    }

}