
.text-header {

    font-size: 24px;
    color: $gray-900;
    font-weight: 600;

    @include media-breakpoint-down(xl) {
        font-size: 18px;
    }
}

.text {

    font-size: 1rem;
    color: $gray-600;

    @include media-breakpoint-down(xl) {
        font-size: 0.875rem;
    }


    @include media-breakpoint-down(md){
        font-size: 12px;
    }


}

.text-small {

    font-size: 0.875rem;
    color: $gray-600;

    @include media-breakpoint-down(md){
        font-size: 12px;
    }
    
}